body {
    background-image: url("/Users/balthazarely/school/sei_autumn_sweaters/classwork/7_2/tomagotchi_project_3/images/game_bg transparent.png");
    min-height: 200%;   
    /* background-position: center top; */
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.relative {
    position: relative;
    width: 960px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .rightstats {
    color: #327767;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 30px;
    right: 30px; 
 }
 
 .rightstats_small {
    color: #284C5C;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 90px;
    right: 30px;
}

.leftstats {
    color: white;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #3E5E6D;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;  
}

.stat-names {
    color: #327767;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    text-align: right;
    top: 90px;
    right: 60px;
}

span {
    color: #284C5C;
}

#pet-age {
    color:white;
}

h6 {
    color: #327767;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    text-align: left;
    top: 90px;
    left: 40px;
}

#homerMessage {
    color: indianred;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    text-align: left;
    top: 142px;
    left: 40px;
}

#userNameHere {
    background: -webkit-linear-gradient(#283c86, #45a247);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    position: absolute;
    text-align: left;
    top: 100px;
    left: 40px;
}

#userHomerHere {
    background: -webkit-linear-gradient(#283c86, #45a247);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    position: absolute;
    text-align: left;
    top: 100px;
    left: 40px;
}

.action-buttons{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: -70px;
    left: 30px; 
}

.instructions {
    position: absolute;
    top: -70px;
    right: 30px; 
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding: 50px;
}

button {
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.game-header {
    text-align: center;
    height: 43px;
    background: -webkit-linear-gradient(#283c86, #45a247);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.score {
    top: 150px;
    right: 40px;
    position: absolute;    
}

.start-info {
    text-align: center;
    position: relative;
    top: -520px;    
}

.top-stats {
    position: absolute; 
    top: 170px;
    right: 50px;
    width; 100%;
}

.creature {
    text-align: center;
    top: 00px;
    left: 50px;
}

#death {
    font-family: 'Permanent Marker', cursive;
    text-align: center;   
    color: white;
    background: linear-gradient(to right, #327767, #6faf7b);
    border-radius: 5px;
    border: none;
}

form {
    font-size: 1
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    padding: 20px;
}

#instructionsBtn{
    font-family: 'Lato', sans-serif;
    background-color: #327767;
    color: white;
    outline: none;
}

#returnBtn{
    font-family: 'Lato', sans-serif;
    background-color: #327767;
    color: white;
    outline: none;
}

.bottombtn {
    font-family: 'Permanent Marker', cursive;
    font-kerning: auto;
    color: white;
    background: indianred;
    font-size: 20px;
    outline: none;
}

.instructionsText {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #284C5C;
    text-align: center;
    padding: 20px;
}

.instructionsLower {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #284C5C;
    text-align: center;
    margin: 24px 100px 25px 100px;
}

 .return {
     text-align: center;
 }

 .dancing {
    display: none;
    width: 300px;
    height: auto;
    position: relative;
    left: 16%;
    top: -1475px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}   

@keyframes move {
    0% 100% {
    transform: translateX(0);
    }
    50% {
    transform: translateX(650px);
    }
}

.dancing-homer {
    display: none;
    width: 300px;
    height: auto;
    position: relative;
    left: 16%;
    top: -1475px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
     
} 

.gameover {
    display: none;
    width: 300px;
    height: auto;
    position: relative;
    left: 35%;
    top: -1410px;
}   

.explosion {
    display: none;
    width: 300px;
    height: auto;
    position: relative;
    left: -10%;
    top: -1475px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
