/* body {
    background-image: url("/Users/balthazarely/school/sei_autumn_sweaters/classwork/7_2/tomagotchi_project_3/images/game_bg.png")
} */
button {
    margin: 5px;
}
.game-header {
    text-align: center;
    height: 70px;
}

.score {
    top: 150px;
    right: 40px;
    position: absolute;
}


.right-info {
    position: absolute; 
    top: 220px;
    right: 50px;
    width; 100%;
    float: right;
}

.left-info {
    position: absolute; 
    top: 220px;
    left: 50px;
    width; 100%;
}

.start-info {
    text-align: center;
    top: -330px;

}
.top-stats {
    position: absolute; 
    top: 170px;
    right: 50px;
    width; 100%;
}



.creature {
    text-align: center;
    top: 00px;
    left: 50px;
}

.animated-gif {
    width: 200px;
    height: auto;
    position: relative;
    left: 50%;
    top: -330px;
    

}